.second-template__container {
  /* second-template__container background */

  background: url("../../images/template\ 3/backcground.svg") no-repeat;
  background-position: 0 -120px;
  /* background-size: 100% 100%; */

  /* second-template__container width&height */
  text-align: right;
  padding-top: 15px;
  max-width: 360px;
  height: 640px;
}

.second-template__container img.third-template__logo {
  width: 77px;
  padding-right: 12px;
}

.second-template__container h2.second-template__title {
  color: #fff;
  font-size: 24px;
  padding-right: 12px;
}

.second-template__food {
  display: none;
}

.second-template__frame {
  overflow: hidden;
  padding-right: 12px;
  height: calc(100% - 60px);
  padding-bottom: 20px;
}

.second-template__menu {
  padding: 14px 0 0 0;
}
.swiper-slide.active {
  font-weight: 700;
  background-color: #de7129;
}

.second-template__menu span {
  user-select: none;
  width: fit-content !important;
  min-width: 83px;
  text-align: center;
  color: #ffffff;
  background-color: #2d2f31;
  padding: 8px 16px;
  border-radius: 32px;
}
.second-template__menu span:hover {
  color: #ffffff;
  cursor: pointer;
}

.food-list {
  width: 328px;
  margin-top: 23px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  background-color: red;
}

.food-list h3 {
  width: 130px;
  font-weight: inherit;
}
.food-list__image {
  width: 64px;
  height: 64px;
  border-radius: 100%;
  overflow: hidden;
}
.food-list__image img {
  width: 100%;
  height: 100%;
}

.foods-list-container::-webkit-scrollbar {
  width: 0.5em;
}
.foods-list-container {
  overflow-y: scroll;
  max-height: 68%; /* Adjust the height according to your needs */
}

.swiper-slide-active:nth-child(1) {
  /* background-color: red; */
}

.swiper-notification {
  display: none;
}

@media screen and (max-width: 360px) {
}
