<!DOCTYPE html>
<html lang="fa" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Saahel</title>
    <!-- jquery -->
    <script src="../../common/script/jquery-3.7.0.min.js"></script>
    <!-- swiper -->
    <link rel="stylesheet" href="../../common/styles/swiper-bundle.min.css" />
    <script src="../../common/script/swiper-bundle.min.js"></script>
    <!-- fonts -->
    <link rel="stylesheet" href="../../common/styles/fonts.css" />
    <!-- popup -->
    <link rel="stylesheet" href="assets/styles/popup.css" />
    <!-- style-->
    <link rel="stylesheet" href="../../common/styles/global.css" />
    <!-- templates -->
    <link rel="stylesheet" href="assets/styles/style.css" />
    <link rel="stylesheet" href="assets/styles/first page.css" />
    <link rel="stylesheet" href="assets/styles/second page.css" />
  </head>
  <body>
    <div class="mySwiper container" style="overflow: hidden">
      <div class="swiper-wrapper">
        <div class="swiper-slide first-page">
          <div class="first-page__information">
            <div class="first-page__main-image">
              <img src="assets/images/LOGO.png" alt="food" />
            </div>
            <div class="first-page__information_title">فرسکو</div>
            <div class="first-page__information_social-media">
              <a href="#">
                <img src="assets/images/icons/instagram.svg" alt="instagram" />
              </a>
              <a href="#">
                <img src="assets/images/icons/location.svg" alt="location" />
              </a>
              <a href="#">
                <img src="assets/images/icons/phone.svg" alt="phone" />
              </a>
            </div>
          </div>
          <span>طعم غذای ما هیچوقت از یاد نمیره!</span>
          <div class="first-page__next">
            <span>نمایش منو</span>
          </div>
        </div>

        <div class="swiper-slide second-page">
          <div class="second-page__header">
            <div class="second-page__prev">
              <img src="assets/images/icons/prev-arrow.svg" alt="prev" />
            </div>
            <div class="second-page__header-logo">
              <img src="assets/images/Logo.svg" alt="Logo" />
            </div>
          </div>

          <!-- menu category -->
          <div class="swiper categorySwiper">
            <div class="swiper-wrapper">
              <!-- swiper-slide -->
            </div>
          </div>

          <!-- foods -->
          <div class="foods">
            <!-- food items -->
          </div>
        </div>
      </div>

      <div id="popup" class="popup-container">
        <div class="popup-content">
          <div class="swiper popupSlider">
            <div class="swiper-wrapper">
              <!-- swiper-slide -->
            </div>
            <div class="sliderShadow">
              <!-- food name -->
              <div class="food-name">
                <p><!-- title --></p>
                <span><!-- english title --></span>
              </div>
              <!-- video -->
              <div class="food-details__video">
                <img src="assets/images/icons/video.svg" alt="video" />
                <p>نمایش ویدئو</p>
              </div>
            </div>
            <div class="swiper-pagination"></div>
          </div>

          <div class="popupClose" id="closeBtn"><</div>

          <video width="100%" controls id="myvideo"></video>

          <!-- food information -->
          <div class="food-information">
            <li>توضیحات</li>
            <span><!-- description --></span>
          </div>

          <div class="food-size">
            <p></p>
            <div class="sizes"></div>
            <span class="price"></span>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

<script src="assets/script/category.js" type="module"></script>
<script src="assets/script/video.js" type="module"></script>
<script src="assets/script/popup.js" type="module"></script>
<script src="assets/script/pages.js" type="module"></script>
<script
  type="text/javascript"
  src="https://unpkg.com/external-svg-loader@latest/svg-loader.min.js"
  async
></script>
