.popup-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.681);
  z-index: 9999;
}

.popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  animation: popup-fade 0.6s ease-in-out;
  border-radius: 28px;
}

.popup-header {
  padding: 20px 16px;
}
.popup-header p {
  font-size: 32px;
  font-weight: 700;
  color: #272727;
  margin-top: 20px;
}
.popup-header span {
  font-size: 16px;
  font-weight: 400;
  color: #727272;
  margin-top: 4px;
}
.popup-header__image-holder {
  width: 40px;
  height: 40px;
  box-shadow: 0px 2px 8px 0px #233b600f;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}
.popup-image {
  height: 284px;
  position: relative;
  display: flex;
  justify-content: space-between;
}
.popup-image__holder {
  width: 65%;
  overflow: hidden;
}
.popup-image__holder img {
  width: 100%;
  height: 92%;
  object-fit: cover;
  border-radius: 13px;
}
.verticalSwiper {
  width: 35%;
}
.nextEl {
  position: absolute;
  width: 40px;
  height: 40px;
  bottom: -25px;
  left: 11vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nextEl img {
  width: 18px;
}

.verticalSwiper .swiper-slide {
  width: 64px !important;
  height: 64px !important;
  margin: auto;
  padding: 0 !important;
  border-radius: 13px;
  overflow: hidden;
}
.verticalSwiper .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@keyframes popup-fade {
  0% {
    opacity: 0;
    transform: translate(-50%, 100%);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}
