body {
  background-color: #f5f5f5 !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: dana;
}

.container {
  /* first-template__container background */
  background: #fafafa;

  position: relative;

  height: 100vh;
  width: 700px;
}

.header {
  padding: 0.5rem 0.7rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.header span {
  margin-top: 10px;
}
.header img {
  max-width: 44px;
  max-height: 56px;
  object-fit: cover;
}

.categorySwiper {
  margin-top: 20px;
  padding-right: 10px;
}
.categorySwiper .swiper-slide {
  color: #7b7b7b;
  text-align: center;
  padding: 10px 15px;
  /* border: 1px solid red; */
  width: fit-content !important;
}

.foodSwiper {
  background-color: #fafafa;
  height: 450px !important;
  padding-top: 7vh;
}
.foodSwiper .swiper-slide {
  width: 212px;
  height: 330px;
  background-color: #fff;
  box-shadow: 0px 4px 18px 0px #1d273714;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 24px;
  gap: 20px;
}
.food-names p {
  font-weight: 700;
  font-size: 18px;
  color: #272727;
}
.food-names span {
  font-weight: 400;
  font-size: 14px;
  color: #727272;
}
.foodSwiper .swiper-slide > span {
  font-weight: 500;
  color: #323232;
  font-size: 16px;
}

.foodSwiper .swiper-slide img {
  width: 121px;
  height: 138px;
}
.foodSwiper .swiper-slide-active {
  transform: translateY(-30px);
}
.foodSwiper .swiper-slide-next {
  transform: translateY(10px);
}
.foodSwiper .swiper-slide-prev {
  transform: translateY(10px);
}
.foodSwiper .swiper-slide-active,
.foodSwiper .swiper-slide-next,
.foodSwiper .swiper-slide-prev {
  transition: transform 0.4s ease;
}

.social {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  z-index: 10;
}
.social > span {
  font-size: 15px;
  font-weight: 400;
  color: #323232;
}
.social-media {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.social-media > a {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 48px;
  height: 48px;
  background-color: #fff;
  border-radius: 16px;
}

@media screen and (max-width: 700px) {
  .container {
    height: 100vh;
    width: 100%;
  }
}
@media screen and (max-width: 388px) {
  .categorySwiper {
    padding: 0;
  }
}
