<!DOCTYPE html>
<html lang="fa" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Zomorod</title>
    <!-- jquery -->
    <script src="../../common/script/jquery-3.7.0.min.js"></script>
    <!-- swiper -->
    <link rel="stylesheet" href="../../common/styles/swiper-bundle.min.css" />
    <script src="../../common/script/swiper-bundle.min.js"></script>
    <!-- fonts -->
    <link rel="stylesheet" href="../../common/styles/fonts.css" />
    <!-- popup -->
    <link rel="stylesheet" href="assets/styles/popup.css" />
    <!-- style-->
    <link rel="stylesheet" href="../../common/styles/global.css" />
    <!-- templates -->
    <link rel="stylesheet" href="assets/styles/style.css" />
  </head>
  <body>
    <div class="container">
      <div class="header">
        <img src="assets/images/Logo.svg" alt="Logo" />
        <span>رستوران ریارو</span>
      </div>

      <!-- menu category -->
      <div class="swiper categorySwiper">
        <div class="swiper-wrapper">
          <!-- category swiper-slide -->
        </div>
      </div>

      <!-- items slider -->
      <div class="swiper foodSwiper">
        <div class="swiper-wrapper">
          <!-- category swiper-slide -->
          <div class="swiper-slide">
            <img src="assets/images/foods/dragon roll.png" alt="" />
            <div class="food-names">
              <p>دراگون رول</p>
              <span>Dragon Roll</span>
            </div>
            <span>450,000 تومان</span>
          </div>
          <div class="swiper-slide">
            <img src="assets/images/foods/dragon roll.png" alt="" />
            <div class="food-names">
              <p>دراگون رول</p>
              <span>Dragon Roll</span>
            </div>
            <span>450,000 تومان</span>
          </div>
          <div class="swiper-slide">
            <img src="assets/images/foods/dragon roll.png" alt="" />
            <div class="food-names">
              <p>دراگون رول</p>
              <span>Dragon Roll</span>
            </div>
            <span>450,000 تومان</span>
          </div>
        </div>
      </div>
    </div>

    <div id="popup" class="popup-container">
      <div class="popup-content">
        <div class="popup-header">
          <img
            id="closeBtn"
            src="assets/images/back.svg"
            alt="back"
            width="34px"
            style="cursor: pointer"
          />
        </div>
        <div class="popup-image">
          <img src="" alt="" />
        </div>
        <div class="popup-info">
          <span>
            <!-- name -->
          </span>
          <span>
            <!-- price -->
          </span>
        </div>
        <div class="popup-size">
          <p></p>
          <div class="sizes">
            <div>
              <div class="sizes__image">
                <img src="assets/images/bucket.svg" alt="" />
              </div>
              <span></span>
            </div>
            <div>
              <div class="sizes__image">
                <img src="assets/images/bucket.svg" alt="" />
              </div>
              <span></span>
            </div>
            <div>
              <div class="sizes__image">
                <img src="assets/images/bucket.svg" alt="" />
              </div>
              <span></span>
            </div>
            <div>
              <div class="sizes__image">
                <img src="assets/images/bucket.svg" alt="" />
              </div>
              <span></span>
            </div>
          </div>
        </div>
        <p class="popup__description">
          <!-- popup__description -->
        </p>
      </div>
    </div>
  </body>
</html>

<script src="assets/script/category.js" type="module"></script>
<script src="assets/script/foods.js" type="module"></script>

<script src="assets/script/popup.js" type="module"></script>
