.second-page {
  background-color: #ffffff;
  overflow: scroll;
  padding-bottom: 10px;
  color: #323232;
}

.second-page__header {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  padding: 26px 16px;
}

.second-page__prev {
  width: 25px;
  height: 25px;
  cursor: pointer;
}
.second-page__prev img {
  width: 100%;
  height: 100%;
}

.second-page__header-logo {
  width: 56px;
  height: 56px;
  overflow: hidden;
  flex: 1;
}
.second-page__header-logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.second-page__base-category {
  width: fit-content;
  background-color: #f5f5f5;
  border-radius: 24px;
  padding: 8px;

  display: flex;
  gap: 10px;
  margin: 0 auto;
}
.second-page__base-category span {
  width: 89px;
  padding: 4px 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  font-size: 16px;
  font-weight: 400;
}
.active-base-category {
  background-color: #f3b5c5;
}
.categories {
  margin-top: 31px;
  padding-right: 16px;
}

.categories .swiper-slide {
  color: #323232;
  background-color: #f5f5f5;
  cursor: pointer;
  text-align: center;
  padding: 8px 8px 8px 24px;
  width: fit-content;
  border-radius: 24px;

  display: flex;
  align-items: center;
  gap: 8px;
}
.categories .swiper-slide:last-child {
  margin-left: 10px;
}

.categories .swiper-slide svg {
  width: 36px;
  height: 36px;
  margin: 0 auto;
  background-color: #ffffff;

  border-radius: 40px;
  display: block;
}
.categories .swiper-slide svg path {
  stroke: #323232 !important;
}

.active-category {
  background-color: #1d1d1d !important;
  color: #fff !important;
}

.categories .swiper-slide span {
  font-size: 14px;
}

.foods {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
  row-gap: 17px;
  flex-wrap: wrap;
}
.items {
  width: 152px;
  height: 202px;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: pointer;
  position: relative;
  color: #fff;
}

.items img {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}
.title {
  position: absolute;
  z-index: 2;
  bottom: 8px;
  right: 12px;
  font-size: 14px;
  font-weight: 600;
}
.price {
  position: absolute;
  z-index: 2;
  top: 8px;
  padding: 4px 8px;
  border-radius: 40px;
  background-color: #fff;
  right: 12px;
  font-size: 14px;
  font-weight: 400;
  color: #000000;
}

@media screen and (max-width: 358px) {
  .foods {
    justify-content: center;
  }
}
