<!DOCTYPE html>
<html lang="fa" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Zomorod</title>
    <!-- jquery -->
    <script src="../../common/script/jquery-3.7.0.min.js"></script>
    <!-- swiper -->
    <link rel="stylesheet" href="../../common/styles/swiper-bundle.min.css" />
    <script src="../../common/script/swiper-bundle.min.j  s"></script>
    <!-- fonts -->
    <link rel="stylesheet" href="../../common/styles/fonts.css" />
    <!-- popup -->
    <link rel="stylesheet" href="assets/styles/popup.css" />
    <!-- style-->
    <link rel="stylesheet" href="../../common/styles/global.css" />
    <!-- templates -->
    <link rel="stylesheet" href="assets/styles/zomorod.css" />
  </head>
  <body>
    <div class="zomorod__container">
      <div class="zomorod__header">
        <img src="assets/images/Logo.svg" alt="Logo" />
        <div class="social-media">
          <a href="">
            <img src="assets/images/icons/instagram.svg" alt="instagram" />
          </a>
          <a href="">
            <img src="assets/images/icons/location.svg" alt="location" />
          </a>
          <a href="">
            <img src="assets/images/icons/phone.svg" alt="phone" />
          </a>
        </div>
      </div>

      <h3 class="zomorod__title">روزهاتون رو با قهوه‌ی روبرتو شروع کنید!</h3>

      <div class="zomorod__menu">
        <!-- menu category -->
        <div class="zomorod__menu-category">
          <div class="swiper zomorodSwiper">
            <div class="swiper-wrapper"></div>
          </div>
        </div>
        <!-- items slider -->

        <div class="swiper zomorod__slider">
          <div class="swiper-wrapper zomorod-items__container">
            <!-- food list -->
          </div>
        </div>
      </div>
    </div>

    <div id="popup" class="popup-container">
      <div class="popup-content">
        <div class="popup__holder">
          <div class="popup-header">
            <img
              id="closeBtn"
              src="assets/images/back-arrow.svg"
              alt="back"
              width="34px"
              style="cursor: pointer"
            />

            <h3>hell</h3>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

<script src="assets/script/categoryAndFood.js" type="module"></script>
<script src="assets/script/swiper.js"></script>
<script src="assets/script/popup.js"></script>
