body {
  background-color: #f5f5f5 !important;
}

* {
  margin: inherit;
  font-family: dana;
}

.zomorod__container {
  /* first-template__container background */
  background: #ffffff;

  height: 100vh;
  width: 700px;
}

.zomorod__header {
  padding: 1.1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-media {
  display: flex;
  gap: 18.5px;
}

.zomorod__title {
  margin-top: 28px;
  text-align: center;
  margin-bottom: 26px;
  font-weight: 500;
  font-size: 18px;
  color: #323232;
}

.zomorod__menu {
  height: calc(100vh - 163.6px);
  background-color: #40976c;
  overflow: hidden;
  border-radius: 250px 250px 0px 0px / 90px 90px 0px 0px;
}

.zomorod__menu .swiper-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding-bottom: 10px;
}
.zomorod__menu .swiper-pagination-bullet-active {
  background-color: #fff;
  outline: 2px solid #fff;
  outline-offset: 5px;

  /* box-shadow: 0 0 0 5px #fff; */
}

.zomorod__menu-category {
  background-color: #3f9369;
  padding-top: 30px;
  overflow: hidden;
  height: 150px;
}

.swiper.zomorodSwiper {
  width: 100%;
  height: 70%;
}

.swiper-slide {
  text-align: center;
}

.swiper.zomorodSwiper .swiper-slide span {
  color: #fff;
  font-size: 14px;
}

.swiper-image-holder {
  background: #fff;
  border-radius: 100%;
  height: 56px;
  width: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.zomorod-items__container {
  margin-top: 20px;
  width: 100%;
}

.zomorod__slider {
  background-color: #40976c;
  border-radius: 255px 255px 0px 0px / 60px 60px 0px 0px;
  position: relative;
  top: -40px;
}

.zomorod-items:last-child {
  /* margin-left: 40px; */
  padding-left: 45px;
}
.swiper-slide-active.zomorod-items {
  transform: translateY(-25px);
}
.swiper-slide-next.zomorod-items {
  transform: translateY(45px);
}
.swiper-slide-prev.zomorod-items {
  transform: translateY(45px);
}
.swiper-slide-active.zomorod-items,
.swiper-slide-next.zomorod-items,
.swiper-slide-prev.zomorod-items {
  transition: transform 0.3s ease;
}

.zomorod-items {
  margin-top: 5px;
  width: fit-content !important;
  height: fit-content !important;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-right: 30px;
  margin-left: -20px;
  color: #fff;
}
.items__image {
  background-color: #49a979;
  width: 245px;
  height: 245px;
  border-radius: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.items__image img {
  height: 86%;
  margin: auto;
}

@media screen and (max-width: 700px) {
  .zomorod__container {
    height: 100vh;
    width: 100%;
  }
}
