@font-face {
  font-family: iran yekan;
  src: url("../Fonts/Iranyekan.ttf");
}

@font-face {
  font-family: inter;
  src: url("../Fonts/Inter.ttf");
}

@font-face {
  font-family: dana;
  src: url("../Fonts/dana.ttf");
}
@font-face {
  font-family: iranSansX;
  src: url("../Fonts/iran\ sans\ x.ttf");
}
@font-face {
  font-family: vazir;
  src: url("../Fonts/Vazirmatn.ttf");
}
