<!DOCTYPE html>
<html lang="fa" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cookie</title>
    <!-- jquery -->
    <script src="../../common/script/jquery-3.7.0.min.js"></script>
    <!-- swiper -->
    <link rel="stylesheet" href="../../common/styles/swiper-bundle.min.css" />
    <script src="../../common/script/swiper-bundle.min.js"></script>
    <!-- fonts -->
    <link rel="stylesheet" href="../../common/styles/fonts.css" />
    <!-- popup -->
    <link rel="stylesheet" href="assets/styles/popup.css" />
    <!-- style-->
    <link rel="stylesheet" href="../../common/styles/global.css" />
    <!-- templates -->
    <link rel="stylesheet" href="assets/styles/header.css" />
    <link rel="stylesheet" href="assets/styles/category.css" />
    <link rel="stylesheet" href="assets/styles/foods.css" />
    <link rel="stylesheet" href="assets/styles/style.css" />
  </head>
  <body>
    <div class="container">
      <div class="header">
        <div class="header__contents">
          <div class="social-media">
            <a href="">
              <img src="assets/images/icons/instagram.svg" alt="instagram" />
            </a>
            <a href="">
              <img src="assets/images/icons/location.svg" alt="location" />
            </a>
            <a href="">
              <img src="assets/images/icons/phone.svg" alt="phone" />
            </a>
          </div>
        </div>
        <img src="assets/images/Logo.svg" alt="Logo" />
      </div>

      <!-- menu category -->
      <div class="swiper categories">
        <div class="swiper-wrapper">
          <!-- categories swiper-slide -->
        </div>
      </div>

      <!-- foods wrapper -->
      <div class="foods">
        <!-- foods -->
      </div>
    </div>

    <div id="popup" class="popup-container">
      <div class="popup-content"></div>
    </div>
  </body>
</html>

<script src="assets/script/category.js" type="module"></script>
<script
  type="text/javascript"
  src="https://unpkg.com/external-svg-loader@latest/svg-loader.min.js"
  async
></script>
