/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.first-page {
  background: url("../Template Images/Backgrounds/gerdoo-first-page-bg.png")
    no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh !important;
  color: #fff;
  padding: 6vh 0;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 40px;
}

/* - - - - - - - - - - - - - - - - - -  */

.first-page__information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  gap: 16px;
}
.first-page__information_title {
  font-size: 40px;
  font-weight: 500;
}
.first-page__information_social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  gap: 10px;
  font-size: 10px;
}

/* - - - - - - - - - - - - - - - - - -  */

.first-page__main-image {
  width: 328px;
  height: 327px;
  overflow: hidden;
  border-radius: 100%;
}
.first-page__main-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

/* - - - - - - - - - - - - - - - - - -  */

.first-page__next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
  font-weight: 400;

  border: 1px solid #fff;
  border-radius: 12px;
  padding: 8px 16px;

  cursor: pointer;
}
