* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: dana;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  background: #37302b;
  height: 100vh;
  width: 700px;
}

/* popup container */
.popup-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.header {
  background: linear-gradient(#37302b3e 50%, #37302b),
    url("../fake data/ghahve/ghahve.png") no-repeat;
  background-size: cover;
  height: 45vh;
  padding: 16px;

  position: relative;
  display: flex;
  justify-content: space-between;
}

.social-media {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.social-media a {
  width: 48px;
  height: 48px;
  background-color: #ffffff66;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.logo {
  width: 69px;
  height: 69px;
  overflow: hidden;
}
.logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header > h3 {
  position: absolute;
  bottom: 6vh;
  font-weight: 700;
  font-size: 40px;
  color: #fff;
}
.content {
  padding: 0 16px;
}

.category-swiper .swiper-slide {
  width: fit-content;
  padding: 8px 16px;
  background-color: #6c5746;
  border-radius: 40px;
  color: #fff;
  font-weight: 400;
  font-size: 1rem;
  margin-left: 25px;
  opacity: 0.5;
  display: flex;
  align-items: center;
  gap: 12px;

  cursor: pointer;
}
.active-category {
  background-color: #6c5746 !important;
  opacity: 1 !important;
}
.category-icon {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: #413831;

  display: flex;
  align-items: center;
  justify-content: center;
}
.category-icon svg {
  width: 28px;
  height: 30px;
}
.category-icon svg path {
  stroke: #fff;
}

.sub-category-swiper .swiper-slide {
  opacity: 0.5;
  cursor: pointer;
}
.sub-category-swiper {
  margin: 18px 0;
  font-weight: 600;
  color: #fff;
}
.active-subCategory {
  color: #fff !important;
  opacity: 1 !important;
}

.foodsSwiper {
  height: calc(100vh - 61.1vh);
}
.foodsSwiper .swiper-slide-prev {
  transform: translateX(-25px);
}
.foodsSwiper .swiper-slide-next {
  transform: translateX(25px);
}
.foodsSwiper .swiper-slide {
  width: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 16px;
  opacity: 0.5;
  cursor: pointer;
}
.foods-image {
  width: 100%;
  height: 144px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: radial-gradient(50% 50% at 50% 50%, #3f362e 0%, #37302b 100%);
}
.foods-image img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
.foodsSwiper .swiper-slide h2 {
  color: #fff;
  font-weight: 400;
  font-size: 1rem;
}
.foodsSwiper .swiper-slide h3 {
  color: #fff;
  font-weight: 400;
  font-size: 0.925rem;
}
.foodsSwiper .swiper-slide span::after {
  content: "تومان";
  font-size: 0.925rem;
  color: #fff;
  margin-right: 5px;
}
.foodsSwiper .swiper-slide span {
  font-size: 1.2rem;
  color: #fff;
  font-weight: 400;
}
.foodsSwiper .swiper-slide-active {
  opacity: 1 !important;
}

@media screen and (max-width: 700px) {
  .container {
    height: 100vh;
    width: 100%;
  }
}

@media screen and (max-height: 674px) {
  .header {
    height: 40vh;
  }
  .header > h3 {
    bottom: 0;
  }
  .foodsSwiper {
    height: calc(100vh - 59vh);
  }
  .foods-image {
    height: 130px;
  }
}

@media screen and (max-height: 629px) {
  .header {
    height: 45vh;
  }
  .header > h3 {
    bottom: 0;
  }
  .category-swiper .swiper-slide {
    font-size: 0.825rem;
    padding: 5px 10px;
  }
  .category-icon {
    width: 30px;
    height: 30px;
  }
  .category-icon svg {
    width: 18px;
    height: 20px;
  }
  .sub-category-swiper {
    margin: 10px 0;
  }
  .foodsSwiper {
    height: calc(100vh - 59vh);
  }
  .foods-image {
    height: 100px;
  }
}
