* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent !important;
  outline: none !important;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: dana;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  background: #000000;
  height: 100vh;
  width: 700px;
}

/* popup container */
.popup-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.first-page {
  background: linear-gradient(#000, #00000012 100%),
    url("../fake data/sepehr/first-page-bg.png") no-repeat bottom;
  background-size: contain;
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.first-page_logo {
  width: 142px;
  height: 142px;
  margin-right: 45px;
  margin-top: 70px;
}
.first-page_logo img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
.first-page_quote {
  margin-right: 45px;
  color: #fff;
  font-size: 0.9rem;
  font-weight: 300;
  font-family: dana;
  margin-top: 20px;
}

.first-page_next {
  /* background: linear-gradient(285.5deg, #c96424 7.38%, #ffa75f 91.69%); */
  width: 128px;
  height: 128px;
  border-radius: 100%;
  align-self: flex-end;

  position: relative;
  left: -20px;
  margin-top: 50px;

  display: flex;
  align-items: center;
  justify-content: center;
}
.first-page_social {
  border-radius: 24px;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(4px);

  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
  padding: 6px 12px;
  position: absolute;
  bottom: 9vh;
  align-self: center;
}

/* second page */

.second-page {
  background: #ffffff;
  position: relative;
  width: 100%;
  height: 100vh;
  font-family: vazir;
}

.second-page__prev {
  width: 35px;
  height: 35px;
  margin: 30px 16px;

  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.foods-holder {
  height: calc(100vh - 110px);
  padding: 0 16px;
  overflow-y: scroll;
  padding-bottom: 20vh;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.item {
  width: 100%;
  height: 80px;
  display: flex;
  gap: 16px;
}
.item-image {
  width: 150px;
  height: 80px;
  border-radius: 8px;
  overflow: hidden;
}
.item-image img {
  border-radius: 8px;
  width: 80px;
  height: 100%;
  object-fit: cover;
}
.item-details {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 3px;
  align-items: flex-start;
}
.item-details h2 {
  font-weight: 400;
  font-size: 1rem;
  color: #323232;
}
.item-details h3 {
  font-weight: 400;
  font-size: 0.9rem;
  color: #727272;
}
.item-details span {
  align-self: flex-end;
  font-weight: 400;
  font-size: 1rem;
  color: #323232;
  font-family: dana;
}
.item-details span::after {
  content: "تومان";
  margin-right: 5px;
  font-size: 0.7rem;
}
.menuSwiper {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-bottom: 8.5vh;
  height: 20vh;
  background: linear-gradient(
      215.77deg,
      #f5f7fb 25.7%,
      #ffffff 47.18%,
      #f5f7fb 73.04%
    ),
    linear-gradient(0deg, #ffffff, #ffffff);
}

.categorySwiper {
  width: 100%;
  height: 100%;
}

.categorySwiper .swiper-slide {
  width: 105px;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.slide-icon {
  width: 40px;
  height: 40px;
}
.active-category {
  color: #6079a8 !important;
  font-weight: 700 !important;
}

.active-category .slide-icon svg path {
  stroke: #6079a8 !important;
  stroke-width: 2px !important;
}
.categorySwiper .swiper-slide:last-child {
  margin-left: 10px;
}
