.second-page {
  overflow: scroll;

  color: #ffffff;
}

.second-page__header {
  font-family: iranSansX;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 56px;
  max-height: 56px;
  padding: 26px 16px;
  margin-bottom: 40px;
}

.second-page__prev {
  width: 25px;
  height: 25px;
  cursor: pointer;
}
.second-page__prev img {
  width: 100%;
  height: 100%;
}

.second-page__header-logo {
  width: 40px;
  height: 40px;
  overflow: hidden;
  flex: 1;
}
.second-page__header-logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.categories {
  margin-top: 31px;
  padding-right: 16px;
}

.categories .swiper-slide {
  color: #ffffff;
  cursor: pointer;
  width: fit-content;
}
.categories .swiper-slide:last-child {
  margin-left: 10px;
}

.active-category {
  border-bottom: 1px solid #f12315;
  color: #f12315 !important;
}

.categories .swiper-slide span {
  font-size: 14px;
}

.subCategory {
  margin-top: 24px;
  padding: 0 16px;
}
.subCategory .swiper-slide {
  background-color: #2b2f33;
  width: fit-content;
  border-radius: 16px;
  padding: 10px;
  color: #aaaaaa;

  display: flex;
  align-items: center;
  justify-content: center;
}
.foods {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
  row-gap: 17px;
  flex-wrap: wrap;
}

.items {
  background-color: #2d3338;
  width: 42.5vw;
  height: 32vh;
  border-radius: 8px;
  text-align: right;
  cursor: pointer;
  color: #fff;
  padding: 8px;
  position: relative;

  display: flex;
  flex-direction: column;
  gap: 5px;
}

.items img {
  width: 102px;
  height: 102px;
  object-fit: cover;
  display: block;
  border-radius: 100%;
  position: relative;
  left: -20px;
  align-self: flex-end;
}
.title {
  font-size: 16px;
  font-weight: 600;
  font-family: iranSansX !important;
}
.price {
  font-size: 14px;
  font-weight: 600;
  font-family: dana;
}
.price::after {
  content: "تومان";
  margin-right: 5px;
}
.description {
  color: #aeaeae;
  font-size: 14px;
  font-weight: 400;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  font-family: iranSansX !important;
}
