.categories {
  margin-top: 24px;
  padding-right: 16px;
  max-height: 72px;
  min-height: 72px;
  overflow: visible;

  background-color: #202226;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  margin-right: 16px;
}

.categories .swiper-slide {
  color: #727272;
  text-align: center;
  width: 54px;
  height: 81px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: flex-start;
  cursor: pointer;
}
.categories .swiper-slide:last-child {
  margin-left: 10px;
}

.icon-holder {
  background-color: #353840;
  border-radius: 24px;
  height: 48px;
  width: 48px;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  z-index: 999;
  top: -12px;
}

.categories .swiper-slide svg {
  width: 32px;
  height: 32px;
}
svg path {
  stroke: #a2a2a2 !important;
}

.categories .swiper-slide span {
  font-size: 14px;
  margin-bottom: 15px;
}

.active-category span,
.active-category svg path {
  color: #db813e;
  stroke: #db813e !important;
}
