.popup-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.681);
  z-index: 9999;
}

.popup-content {
  position: absolute;
  overflow: hidden;
  overflow-y: scroll;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url("../images/popup-background.png") no-repeat;

  background-size: cover;
  width: 100%;
  height: 100%;
  box-shadow: inset 0 0px 50px 10px rgba(14, 14, 14, 0.788);
  animation: popup-fade 0.6s ease-in-out;
  /* border-radius: 28px; */
}
.popup__info {
  padding: 24px 16px;
  color: #fff;
}
#closeBtn {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: rgb(34, 34, 34);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 24px 16px 0 0;
  cursor: pointer;
}
.popup-food_title {
  font-weight: 800;
  font-size: 24px;
}
.popup-food_english-title {
  font-weight: 700;
  font-size: 16px;
}
.popup-food_description {
  font-size: 16px;
  font-weight: 600;
}

.popup-food_priceHolder {
  background: linear-gradient(51.18deg, #09090b 14.48%, #5f5f64 96.39%);
  height: 240px;
  width: 240px;
  border-radius: 100% !important;
  -webkit-border-radius: 100% !important;

  position: absolute;
  bottom: -55px;
  left: -55px;
}
.popup-food_priceHolder::before {
  content: "";
  position: absolute;
  top: -33px;
  right: -33px;
  bottom: -33px;
  left: -33px;
  border: 2px dashed #fff;
  border-radius: 100%;
}
.popup-food_priceHolder__price {
  display: flex;
  justify-content: space-around;
  transform: rotate(45deg);
  position: relative;
  right: -110px;
}
.popup-food_priceHolder__price span {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  font-size: 12px;
  color: #323232;
  font-weight: 400;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  text-align: center;

  transform: rotate(-45deg); /* Counter-rotate the spans */
}
.active-size {
  transition: 0.3s;
  border: 3px solid #5b5a61;
  background-color: #1a1d22 !important;
  color: #fff !important;
}
.popup-food_price {
  line-height: 30px;
  color: #db813e;
  font-weight: 600;
  font-size: 32px;
  padding-right: 40px;
}
.toman {
  font-weight: 400;
  font-size: 18px;
  color: #ffffff;
  padding-right: 40px;
}

.videoHolder {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  border-radius: 32px;
  width: 146px;
  height: 40px;
  gap: 8px;
  font-size: 14px;
  font-weight: 600;
  border: 1px solid #fff;
  background: rgba(0, 0, 0, 0.04);
  backdrop-filter: blur(4px);
}

video {
  /* display: none; */

  visibility: hidden;
  height: 200px;
  width: 100%;
  margin: 25px 0;
}

@media screen and (max-height: 710px) {
  video {
    height: 150px;
    margin: 10px 0;
    object-fit: contain;
  }
}

@keyframes popup-fade {
  0% {
    opacity: 0;
    transform: translate(-50%, 100%);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}
