<!DOCTYPE html>
<html lang="fa" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gerdoo</title>
    <!-- jquery -->
    <script src="../../common/script/jquery-3.7.0.min.js"></script>
    <!-- swiper -->
    <link rel="stylesheet" href="../../common/styles/swiper-bundle.min.css" />
    <script src="../../common/script/swiper-bundle.min.js"></script>
    <!-- fonts -->
    <link rel="stylesheet" href="../../common/styles/fonts.css" />
    <!-- popup -->
    <link rel="stylesheet" href="assets/styles/popup.css" />
    <!-- style-->
    <link rel="stylesheet" href="../../common/styles/global.css" />
    <!-- templates -->
    <link rel="stylesheet" href="assets/styles/style.css" />
    <link rel="stylesheet" href="assets/styles/first page.css" />
    <link rel="stylesheet" href="assets/styles/second page.css" />
  </head>
  <body>
    <div class="mySwiper container" style="overflow: hidden">
      <div class="swiper-wrapper">
        <div class="swiper-slide first-page">
          <div class="first-page__information">
            <div class="first-page__information_title">کافه روبرتو</div>
            <div class="first-page__information_social-media">
              <a href="#">
                <img src="assets/images/icons/instagram.svg" alt="instagram" />
              </a>
              <a href="#">
                <img src="assets/images/icons/location.svg" alt="location" />
              </a>
              <a href="#">
                <img src="assets/images/icons/phone.svg" alt="phone" />
              </a>
            </div>
          </div>
          <div class="first-page__main-image">
            <img src="assets/images/first page food.png" alt="food" />
          </div>
          <div class="first-page__next">
            <span>نمایش منو</span>
            <img src="assets/images/icons/next-arrow.svg" alt="" />
          </div>
        </div>

        <div class="swiper-slide second-page">
          <div class="second-page__header">
            <div class="second-page__prev">
              <img src="assets/images/icons/prev-arrow.svg" alt="prev" />
            </div>
            <div class="second-page__header-logo">
              <img src="assets/images/Logo.svg" alt="Logo" />
            </div>
          </div>
        </div>
      </div>

      <div id="popup" class="popup-container">
        <div class="popup-content"></div>
      </div>
    </div>
  </body>
</html>

<!-- <script src="assets/script/category.js" type="module"></script>
<script src="assets/script/video.js" type="module"></script>
<script src="assets/script/popup.js" type="module"></script> -->
<script src="assets/script/pages.js" type="module"></script>
